/* Base Application Styles */
// @font-face {
//   font-family: "iconfont-min";
//   src: url('../fonts/icons/min/iconfont.eot?t=1481547951844'); /* IE9*/
//   src: url('../fonts/icons/min/iconfont.eot?t=1481547951844#iefix') format('embedded-opentype'), /* IE6-IE8 */
//   url('../fonts/icons/min/iconfont.woff?t=1481547951844') format('woff'), /* chrome, firefox */
//   url('../fonts/icons/min/iconfont.ttf?t=1481547951844') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
//   url('../fonts/icons/min/iconfont.svg?t=1481547951844#iconfont') format('svg'); /* iOS 4.1- */
// }

// // .iconfont-min {
// //   font-family:"iconfont-min" !important;
// //   font-size:16px;
// //   font-style:normal;
// //   -webkit-font-smoothing: antialiased;
// //   -webkit-text-stroke-width: 0.2px;
// //   -moz-osx-font-smoothing: grayscale;
// // }

// // .icon-zuixiaohua:before { content: "\e694"; }
/*==============
    基本默认值
    ===========*/

html {
    font-size: 62.5%;
    color: #222;
    font-family: 微软雅黑;
}

/*设置选中*/
::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
/*==============
    工具样式
    ===========*/

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
    /*元素所占空间保留*/
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==================
    自定义页面样式
   =================*/
/*app*/
.app{
  width: 80%;
  // height: 700px;
  background-color: #FFFFFF;
  margin: 0 auto 20px;
  border: 0.01px solid #1883D7;
  min-width: 50rem;
  position:absolute;
  overflow: hidden;
  //  left: 50%;
  //  margin-left: -40% ;  /*此处的负值是宽度的一半*/
  user-select:none;
}
//滚动条样式
.thumb-vertical{
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: inherit;
    background-color: rgba(173, 175, 178, .8);
    // height: 20px;
    transform: translateY(63.565px);
    &:hover{
      background-color: rgba(173, 175, 178, 1);
    }
}
/*top*/
.top{
  background-color: #BC2F2E;
  .top-left{
    float: left;
    color:#fff;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin:1rem auto;
    margin-left:2rem;
  }
  .top-right{
    float: right;
    color: #fff;
    ul {
      li{
        display: inline-block;
        line-height: 1.8rem;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        font-weight: 100;
        &:hover{
          background-color: #E81023;
        }
      }
   }
  }
}

/*****************container******************/
/*============sidebar=============*/
.container{

  @at-root{
    .sidebar{
      float:left;
      width:20rem;
      background-color: #F3F3F5;
      font-size: 1.4rem;
      &-link{
        line-height: 4rem;
        padding-left: 1rem;
        display: inline-block;
        width: calc(100% - 1.2rem);
        color:#222;
        font-weight: normal;
        font-size: 1.3rem;
        text-decoration:none;
        &:hover{
          background-color: #E8E8EB;
        }
        &__active{
          padding-left: calc(1rem - 6px);
          border-left: solid 4px #E81023;
          width: calc(100% - 1rem );
          background-color: #DDDDE1;
        }
        i{
            padding-right: 1rem;
            font-size:1.5rem;
          }
      }
      &-header{
        line-height: 5rem;
        font-size: 2rem;
        padding-left: 1rem;
      }
      // &-base{
      //   line-height: 4rem;
      //   &-item{
      //     i{
      //       padding-right: 1rem;
      //       font-size:1.5rem;
      //     }
      //   }
      // }
      // &-scroll{
      //   height: 400px;
      //   overflow-y:auto;
      //   overflow-x: hidden;
      // }
      // ::-webkit-scrollbar{
      //   width:1.2px;
      // }
      // ::-webkit-scrollbar-track{
      //   -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
      //   -webkit-border-radius:10px;
      //   border-radius: 10px;
      // }
      // /* Handle */
      // ::-webkit-scrollbar-thumb {
      //     -webkit-border-radius: 10px;
      //     border-radius: 10px;
      //     background: rgba(255,0,0,0.8);
      //     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
      // }
      // ::-webkit-scrollbar-thumb:window-inactive {
      //   background: rgba(255,0,0,0.4);
      // }

      &-myMusic-title{
        color:#939393;
        width: 100%;
        font-size:1.2rem;
        font-weight: 500;
        // line-height: 4rem;
        padding-top:2rem;
        padding-bottom: .7rem;
        padding-left:1rem;

      }
      &User{
        width:20rem;
        line-height: 6rem;
        &-avator{
          // line-height: 7rem;
          vertical-align: middle;
          font-size:3rem;
          color:#E8E8EB;
          padding: 0 1rem;
        }
        &-name{
          font-size: 1rem;
        }
        &-email{
          font-size: 1.6rem;
          height: 100%;
          color:#000;
          vertical-align: middle;
          text-align: center;
          line-height: 6rem;
          margin: 0px 1.6rem 0 4rem;
          padding-top: 2px;
        }
        &-setting{
          font-size: 1.8rem;
          vertical-align: middle;
        }

      }
    }
  }
}

.audioPlay{
  height: 6rem;
  border-top:solid #DDDDE1 1px;
  // position: relative;
  &-audioImg{
    z-index: 101;
    position: relative;
    display: inline-block;
    vertical-align:top;
    width:6rem;
    // height: 6rem;
    background-image: url("http://p2.music.126.net/mic-HzsY8tNY6DD1eHzdlg==/612427976714915.jpg");
    background-size:6rem 6rem;
    .shadeLayer{
      display: none;
      background:#000;
      width:6rem;
      height:6rem;
      // padding:5px;
      color:#F00;
      filter:alpha(Opacity=50);
      -moz-opacity:0.5;opacity: 0.5;
      .show{
        display:inherit;
      }
    }
  }
  &-audioController{
    z-index: 101;
    position: relative;
    display: inline-block;
    background-color: #fff;
    vertical-align:top;
    padding-left: 3rem;
    width:16rem;
    height: 6rem;
    span{
      display: inline-block;
      font-size: 3rem;
      color:#DF3B3B;
      width: 5rem;
      line-height: 6rem;
      vertical-align: middle;
    }
    .play-icon{
      font-size: 3.5rem;
      width:5.5rem;
    }

  }

    .scrollView{
      // background-color: #1883D7;
      display: inline-block;
      vertical-align:top;
      width: calc( 100% - 50rem );
      white-space:nowrap;
      &-top{
          //  background-color: #0ff;
          height: 2.3rem;
          line-height: 2.3rem;
          padding-top:.6rem;
          padding-left: 3px;
          z-index: 10;
          .songName{
            font-size: 1.2rem;
          }
          .singerName{
            font-size: 1rem;
            color:#939393;
          }
          .time{
            z-index: 100;
            right:calc(25rem);
            background-color: #fff;
            padding-right: 2rem;
            padding-left: 1rem;
             position: absolute;
            color:#939393;
            em{
              color:#444;
            }
          }
      }
      &-barView{
          margin-right: 2rem;
          padding-top : 1rem;
          padding-bottom: 1rem;
          margin-left: .5rem;
          .barbg{
            width:100%;
            height: .3rem;
            background-color: #DDDDE1;
            .cur{
              position: relative;
              background-color:#BC2F2E;
              height: .3rem;
              width:10%;
              span{
                  position: absolute;
                  z-index: 100;
                  top:-1rem;
                  left:-0.5rem; //-0.5rem开始
                  display: inline-block;
                  background: url("../images/iconall.png");
                  background-position: -1px -250px;
                  width:20px;
                  height: 20px;
                  border-radius: 10px;
              }
            }
          }
      }

    }
    &-right{
      width:25rem;
      height:6rem;
      background-color:#fff;
      z-index:100;
      display:inline-block;
      position:relative;
      .like{
        // background-color: #1883D7;
          text-align: center;
          display: inline-block;
          vertical-align: top;
          padding-top:1px;
          color:#BC2F2E;
          width:5.6rem;
          height: 6rem;
          line-height: 6rem;
          font-size: 1.8rem;
      }
      .order{
          // background-color: #eeddaa;
          text-align: center;
          display: inline-block;
          vertical-align:top;
          padding-top:2px;
          color:#939393;
          width:5.6rem;
          height: 6rem;
          line-height: 6rem;
          font-size: 2rem;

      }
      .volume{
        // background-color: #1883D7;
        text-align: center;
        display: inline-block;
        vertical-align:top;
        padding-top:1.5px;
        color:#939393;
        width:5.6rem;
        height: 6rem;
        line-height: 6rem;
        position: relative;
        &-controll{ //音量控制
          position: absolute;
          // display: none;
          width: 30rem;
          height: 5rem;
          top:-6rem;
          left:-17rem;
          border:1px solid #d7d7d7;
          box-shadow: 1px 1px 2px #d7d7d7;
          transition: opacity .3s linear,visibility .3s;
          &.show{
            // opacity: 1;
            display: block;
          }
          &.hidden{
              opacity: 0;
              visibility: hidden;
            // display: none;
          }
          .vcarrow{
            position: absolute;
            left:18.8rem;
            top:4.9rem;
            em ,i{
              width: 0;
              height: 0;
              border:1rem solid transparent ;
              border-style:solid dashed dashed;
              position: absolute;
            }
            em{
              border-top-color: #d7d7d7;
              top:1px
            }
            i{
              border-top-color: #fff;;
              top:0
            }
          }
          .vc-icon{
            display: inline-block;
            float: left;
            vertical-align: top;
            height: 5rem;
            width: 2rem;
            line-height: 5rem;
            padding-top: 1px;
            font-size: 1.6rem;
          }
          .vcbarView{
            display: inline-block;
            width: 25rem;
            vertical-align: top;
            margin-top: 1.5rem;
            padding-top : 1rem;
            padding-bottom: 1rem;
            .barbg{
            width:100%;
            height: .2rem;
            background-color: #DDDDE1;
            .cur{
              position: relative;
              background-color:#BC2F2E;
              height: .2rem;
              width:0;
              span{
                  position: absolute;
                  z-index: 100;
                  top:-1.1rem;
                  left:-0.5rem; //-0.5rem开始
                  display: inline-block;
                  background: url("../images/iconall.png");
                  background-position: -1px -250px;
                  width:20px;
                  height: 20px;
                  border-radius: 10px;
              }
            }
          }


          }

        }


      }
      //播放列表
      .playList{
         display: inline-block;
         position: relative;
        .hidden{ //隐藏
            opacity: 0;
            visibility: hidden;
            display: inline-block;
        }
         &-show{ //播放列表展示
            position: absolute;
           bottom: 5rem;
           right: -2.6rem;
           transition: opacity .2s ease,display .2s ease;
           .list{
             width:50rem;
             height: 50rem;
             border: 1px solid #DDDDE1;
              background: #ffffff;
             &-top{
               height: 4.5rem;
               line-height: 4.5rem;
               border-bottom: 1px solid #DDDDE1;
               .musicList{
                 display: inline-block;
                 width:calc(55% - 4rem);
                 font-size: 1.6rem;
                 padding-left: 4rem;

               }
               .collection{
                 display: inline-block;
                 font-size: 1.3rem;
                 margin-right: 2rem;
                 i{
                   margin-right: 2px;
                 }
               }
               .clearAll{
                 display: inline-block;
                 font-size: 1.3rem;
                 margin-left: 2rem;
                 margin-right: 3.5rem;
                 i{
                   margin-right: 2px;
                 }
               }
               .ltclose{
                //  display: inline-block;
               }
             }
             &-container{
               div:nth-child(2n+1){
                background-color: #F9F9F9;
               }
               .zoomf{
                    font-size: .99rem;
                    text-shadow: 1px 1px 1px #DDDDE1;
                    padding:0 3px !important;
                 }
               .playListItem{
                 height: 4.5rem;
                 line-height: 4.5rem;
                 div,span{
                   display: inline-block;
                   overflow: hidden;
                 }
                 .status{
                   opacity: 0;
                   visibility: hidden;
                   width: 4rem;
                   text-align: center;
                 }
                 .songCon{
                    width:calc(55% - 4rem);
                    font-size: 1.4em;

                 }
                 .artist{
                   width:calc( ( 45% + 4rem ) * .5 );
                   color:#939393;
                   font-size: 1.2em;

                 }
                 .time{
                   color:#939393;
                   font-size: 1.2em;
                 }
                 .delete{
                   padding-left: 2.5rem;
                   display: none;
                 }
                 &:hover{
                   background-color: #F2F2F3;
                 }
                 &:focus{
                   background-color:  #E8E8EA;
                   outline: none;
                  .delete{
                    display: inline-block;
                  }
                  &:hover{
                    background-color: #DEDEE0;
                  }
                 }
               }
             }


           }
         }
         &-icon{
          // background-color: #55ffcc;
          text-align: center;
          display: inline-block;
          color:#939393;
          width:5.6rem;
          height: 6rem;
          line-height: 6rem;
          vertical-align:top;
          .number{
            display: inline-block;
            vertical-align: middle;
            margin-left: 2px;
            background-color: #BABBC0;
            color:#fff;
            font-size: .8rem;
            height: 1.6rem;
            width:2rem;
            line-height: 1.6rem;
            border-radius: .5rem;
          }
          &:focus{
            outline: none;
          }
        }
      }
    }


  }


